/* use for font font-family: 'Titillium Web', sans-serif; */
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
#head{
    background-size: cover;
    height: 100vh;
    text-align: center;
    background-color: white;
/*

    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.2))), url(img/home/background8.jpg);

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(img/home/background8.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment:local;
*/
}
#galRow{
    padding:0 !important;

}
#galCon{
    padding:0 !important;
}
#galRow .col-sm-4{
    padding:5px;
}
.contentWrap{
    text-align: center;
}
#slogan{
    font-family: 'Courgette', cursive;
    color:white;
    display:inline-block;
    margin-top:6%;
    font-size:60px;
    margin-right:10%;
    text-shadow: 4px 4px 4px black;
}
#gal{
    max-width: 275px;margin:0;
}
@media (max-width:375px){
    #gal{
        display:inline-block;
        margin-left:0;
        max-width: 170px;
    }
}
@media (min-width:414px){
    #gal{
        display:inline-block;
        margin-left:0;
        max-width: 200px;
    }
}
@media (max-width:767px){
    #slogan{
        font-size:24px;
    }
}
@media (min-width:768px){
    #gal{
        display:inline-block;
        margin-left:0;
        max-width: 225px;
    }
    
}
@media (max-width:1024px){
    #slogan{
text-align: center;
    display:block;
margin-right:0;
    text-shadow: 4px 4px 4px black;
}
}
@media (min-width:1025px){
    #gal{
        float:left;
        margin-left:15%;

    }
}


.title{
    color:rgb(180,71,77);
    font-family: 'Titillium Web', sans-serif;
    font-weight:900;
    margin-bottom:25px;
}

#navImg{
    height:100px;
    display: inline;
}
.deskNavSpan{
    font-family: 'Titillium Web', sans-serif;
    font-weight:800;
    font-size:26px;
    display:inline;
    margin-top:15px;
    padding:12px;
    color:black;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.deskNavSpan2{
    color:black;
}
.deskNavSpan:hover{
    cursor:pointer;
    text-shadow: 4px 4px 4px black;
    color:rgb(180,71,77);
}
#hamburger{
    color:white;
    text-shadow:4px 4px 4px black;
    position:fixed;
    top:25px;
    right:15px;
    font-size: 28px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index:10000;
}
#hamburger:hover{
    cursor: pointer;
    color: rgb(180,71,77);
}
@media (max-width:350px){
    #navImg{
        height:75px;
    }
    #hamburger{
        top:15px;
    }
}
@media (min-width:768px){
    #hamburger{
    font-size:34px;
    }
    
}

@media(max-width:1024px){
    .deskNavSpan{
        display: none;
    }
/*
    #head{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(img/home/background6.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/home/background6.jpg);
    }
*/
}
@media (min-width:1025px){
    #hamburger{
        display: none;
    }
}

.bottomWrap{
    height:100px;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
}

.bottomSquare{
    width:23.5%;
    padding:0;
    margin:0;
    display:inline-block;
    height:100px;
    line-height: 100px;
    background-color:black;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position:fixed;
    bottom:0;
    color:white;
    font-size:30px;
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    border:1px solid white;  
}

.bottomSquare:hover{
    cursor: pointer;
    color: transparent;
}

#square1{
    background-image: url(img/home/beers.jpg);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    left:1%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-shadow: 3px 3px 5px black;
}
#square1:hover{
    height:20%;
    text-shadow: none;
    border:none;
}

#square2{
    background-image: url(img/home/menus.jpg);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    left:26%;
    text-shadow: 3px 3px 5px black;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#square2:hover{
    height:20%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    text-shadow: none;
    border:none;
}
#square3{
    background-image: url(img/home/photos.jpg);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    left:51%;
    text-shadow: 3px 3px 5px black;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#square3:hover{
    height:20%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    text-shadow: none;
    border:none;
}
#square4{
    background-image: url(img/home/history.png);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    left:76%;
    text-shadow: 3px 3px 5px black;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#square4:hover{
    height:20%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    text-shadow: none;
    border:none;
}
.boxText{
    position:absolute; height:100%; width:100%;display: table;color:white;
}
.boxText:hover{
    color: transparent;
}
/*
.vert{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    text-align: center;

}
*/
@media (max-width:767px){
    .bottomSquare{
        font-size:18px;
    }
}

.beerWrap{
    width:100%;
    max-width: 700px;
    text-align: center;
    color:black !important;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 1px 1px 2px grey;
}
.beerBottle{
    display:inline-block;
    width:24%;
}
.beerImg{
    width:24%;
    margin:0;
    padding:0;
    display:inline-block;
}
.beerInfo{
vertical-align: middle;
    text-align: left;
    display: inline-block;
    color: black;
    width:74%;
}
.beerInfo p{
    margin:0;
    padding:0;
}
.beerTitle{
    font-size:24px;
    font-weight: 800;
    font-family: 'Titillium Web', sans-serif;
}
.beerABV{
    font-size:22px;
    font-weight: 700;
    margin-bottom:15px;
    color:grey;
    font-family: 'Titillium Web', sans-serif;
}

@media (max-width:767px){
    .beerInfo{
        max-width:220px;
    }
    .beerTitle{

    font-size:18px;

}
.beerABV{

    font-size:16px;

}
.beerDes{
    font-size:14px;
}
}

